*.class

# Package Files #
*.jar
*.war
*.ear

behave2unitgenExample/bin
behave2unitgenExample/build
behave2unitgenExample/localhost
behave2unitgenExample/.gradle
**/hsqldb.log
**/hsqldb.properties
**/hsqldb.script
**/.gradle
